/build*/
DEBIAN
*.deb
*.pro.user*
*.autosave
*~
*.qm
!qt_*.qm
headers*.tar.gz
license_template
bin/bhawk
bin/bhawk.dmg
mac/images/bhawk-dmg-icon.iconset
lib*.so*
bin/core
bhawk.sh
git_revision
*.exe
*.dll
*.lib
*.exp
*.zip
Thumbs.db
*.pdb
*.ilk
*.kdev4
*.swp
*_manifest.*
*.embed.manifest
bin/autotests
.clang_complete
bin/bhawk.app
.DS_Store
*.dylib
hunspell
callgrind.out.*
tests/autotests/autotests
.ycm_extra_conf.py*
*.stash
bin/profiles
CMakeLists.txt.user*
spell/
vcpkg/
package/
Blue Hawk/
!ports/*
!appveyor.yml
.old
.vscode/
windeploy
windows/build/B.CMD
themes/windows
themes/mac
themes/linux
themes/chrome
src/lib/data/breeze-fallback
userscripts
downloads
qt
vcpkg1
7z
