/*************************************
 * Vivid theme styles loaded after
 * the Noir theme's common.css
 *************************************/

/* background-color: palette(keycolor); */
/* background-color: palette(dark); */
/* background-color: palette(light); */
/* background-color: palette(highlight); */
/* background-color: palette(shadow); */
/* background-color: palette(light); */
/* background-color: palette(alternate-base); */
/* background-color: palette(keycolor); */
/* color:palette(bright-text) */

/* https://doc.qt.io/qt-5/qpalette.html */

QListWidget,QTableView {
	border-color:palette(dark);
	background-color:palette(light)
}

QListWidget::item,QTableView::item {
	border-color:transparent
}

QListWidget::item:hover {
	background-color:palette(highlight);
	border-color:palette(dark)
}

QListWidget::item:selected {
	color:palette(keycolor);
	border-color:palette(light)
}

QListWidget::item:selected,QTableView::item:selected,QTableView:disabled,QTableView:selected {
	background-color:palette(light)
}

QTableView::item {
	color:palette(alternate-base)
}

QTableView::item:hover {
	background-color:palette(highlight)
}
QTableView::item:selected {
	color:palette(keycolor);
	border-color:palette(light)
}

QTableView::item:selected:hover {
	background-color:palette(highlight);
	color:black

}

QTableView:disabled {
	color:palette(dark)
}

QTableView:selected {
	color:palette(light)
}

QCheckBox::indicator:unchecked,QRadioButton::indicator:unchecked {
background-color:#EAEAEA;
color:palette(dark);
border-color:#EAEAEA
}

QCheckBox::indicator:unchecked:pressed,QRadioButton::indicator:unchecked:pressed {
background-color:palette(highlight);
border-color:#EAEAEA;
border-style:solid
}

QCheckBox::indicator:checked:pressed,QRadioButton::indicator:checked:pressed {
background-color:#EAEAEA
}

QMenuBar {
background-color:palette(light);
color:palette(dark);
border-color:palette(light)
}

QMenuBar::item:selected {
background-color:transparent;
border-color:palette(light)
}

QMenuBar::item:pressed {
background-color:palette(highlight);
border-color:palette(light)
}

QMenu::item {
background-color:#EAEAEA
}

QAbstractItemView {
color:palette(dark);
border-color:palette(light)
}

QScrollBar:horizontal {
background-color:palette(light);
border-color:palette(light)
}

QToolButton#qt_toolbar_ext_button {
background-color:palette(light);
color:palette(dark)
}

QProgressBar::chunk {
background-color:palette(keycolor);
color:palette(light)
}

QProgressBar::chunk:disabled {
background-color:palette(alternate-base);
color:palette(shadow)
}

QPushButton {
background-color:#EAEAEA;
border-color:palette(dark)
}

QPushButton:disabled {
background-color:palette(light);
color:palette(shadow);
border-color:palette(light)
}

QPushButton:hover {
color:palette(highlight);
background-color:white;
border-color:palette(highlight)
}

QToolButton {
background-color:transparent;
border-color:palette(light)
}

QCommandLinkButton {
background-color:transparent;
color:palette(dark);
border-color:palette(light)
}

QComboBox {
border-color:transparent
}

QComboBox QAbstractItemView {
background-color:palette(light);
border-color:transparent
}

QComboBox:on {
color:palette(highlight)
}

QComboBox::indicator {
background-color:transparent;
color:transparent
}

QTabWidget::pane:selected {
background-color:palette(light);
border-color:palette(keycolor)
}

QTabBar::tab:top:selected:disabled {
border-bottom-color:palette(alternate-base);
color:palette(shadow);
background-color:palette(light)
}

QTabBar::tab:bottom:selected:disabled {
border-top-color:palette(alternate-base);
color:palette(shadow);
background-color:palette(light)
}

QTabBar::tab:left:selected:disabled {
border-left-color:palette(alternate-base);
color:palette(shadow);
background-color:palette(light)
}

QTabBar::tab:right:selected:disabled {
border-right-color:palette(alternate-base);
color:palette(shadow);
background-color:palette(light)
}

QTabBar::tab:top {
background-color:palette(light);
color:palette(dark);
border-bottom-color:palette(light)
}

QTabBar::tab:top:selected {
background-color:palette(light);
color:palette(dark);
border-bottom-color:palette(keycolor)
}

QTabBar::tab:bottom {
color:palette(dark);
border-top-color:palette(light);
background-color:palette(light)
}

QTabBar::tab:bottom:selected {
color:palette(dark);
background-color:palette(light);
border-top-color:palette(keycolor)
}

QTabBar::tab:left:selected {
color:palette(dark);
background-color:palette(light);
border-left-color:palette(keycolor)
}

QTabBar::tab:right:selected {
color:palette(dark);
background-color:palette(light);
border-right-color:palette(keycolor)
}

QDockWidget {
outline-color:palette(light);
background-color:palette(light);
border-color:palette(light)
}

QTreeView::item:selected:hover,QListView::item:selected:hover,QColumnView::item:selected:hover {
background-color:palette(highlight);
color:palette(light)
}

QHeaderView::section:checked {
color:palette(dark);
background-color:palette(keycolor)
}

QHeaderView::section:checked:disabled {
color:palette(shadow);
background-color:palette(alternate-base)
}

QHeaderView::section::horizontal {
border-left-color:palette(light)
}

QHeaderView::section::vertical {
border-top-color:palette(light)
}

QHeaderView::section::vertical::first,QHeaderView::section::vertical::only-one {
border-top-color:palette(light)
}

QSpinBox::up-arrow {
background-image:url(images/go-up.svg)
}

QSpinBox::down-arrow {
background-image:url(images/go-down.svg)
}

QToolBox::selected {
border-color:palette(keycolor)
}

QToolBox::tab:selected {
background-color:palette(light);
border-bottom-color:palette(keycolor)
}

QToolBox::tab:selected:disabled {
background-color:palette(light);
border-bottom-color:palette(alternate-base)
}

QToolBox::tab:hover {
border-color:palette(highlight)
}

QSplitter::separator:hover {
background-color:palette(shadow)
}

[html-link-look="true"] {
color:palette(link)
}

#navigation-toolbutton-badge {
background-color:palette(dark);
color:palette(bright-text)
}

#navigationbar ToolButton:hover {
background-color:palette(dark)
}

#tabwidget-button-addtab[outside-tabbar="false"] {
background-color:palette(light);
color:palette(dark);
border-color:palette(light)
}

#tabbar {
background-color:#EAEAEA
}

#tabbar::tab {
color:palette(dark);
border-left-color:palette(light);
border-right-color:palette(light);
border-bottom-color:palette(light)
}

#tabbar::tab:selected {
background-image:url(images/tab-top.png);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center top; 
color:palette(highlight);
background-color:palette(light);
border-left-color:palette(light);
border-right-color:palette(light);
border-bottom-color:palette(light)
}

#locationbar {
background-color:#EAEAEA;
color:palette(dark);
border-color:white
}

#locationbar::focus {
color:palette(shadow);
border-color:white
}

#locationbar ToolButton {
background-color:palette(light);
border-left-color:palette(light);
border-top-color:palette(light);
border-bottom-color:palette(light)
}

#locationbar ToolButton:hover {
background-color:palette(light)
}

#websearchbar {
background-color:#EAEAEA;
color:palette(dark);
border-color:white
}

#websearchbar::focus {
background-color:#EAEAEA;
color:palette(shadow);
border-color:white
}

SearchToolBar #lineEdit[notfound="true"] {
background-color:#ff6666;
color:palette(dark)
}

DesktopNotification {
background-color:palette(dark)
}

DesktopNotification #frame {
border-color:palette(dark)
}

DesktopNotification #heading {
color:palette(highlight)
}

DesktopNotification #text {
color:palette(shadow)
}

BrowsingLibrary #frame {
background-image:url(images/library-bg.png)
}

#jsFrame {
background-image:url(images/semi-transp.png)
}

QFrame[js-frame="true"] {
background-color:palette(light);
border-color:#EAEAEA
}

QFrame[js-frame2="true"] {
border-bottom-color:#EAEAEA;
border-left-color:#EAEAEA;
border-right-color:#EAEAEA;
background-color:palette(light)
}

QWidget {
background-color:palette(light);
color:palette(shadow);
text-shadow:#CCC 1px 0 10px
}

QWidget::item:hover {
background-color:palette(highlight);
color:palette(light)
}

QToolTip {
background-color:palette(light);
color:#EAEAEA
}

QStatusBar {
background-color:palette(light);
color:#EAEAEA
}

QCheckBox,QCheckBox:checked,QCheckBox:unchecked,QMenu,QMenu::item:selected,QAbstractView:hover {
color:palette(dark)
}

QCheckBox QWidget:disabled,QLabel::disabled,QCalendarWidget:disabled,QLCDNumber:disabled,QComboBox:disabled,QLineEdit:disabled,QTreeView:disabled,QListView:disabled,QColumnView:disabled {
background-color:palette(light);
color:palette(shadow)
}

QCheckBox::indicator,QFrame[height="3"],QFrame[width="3"],#navigationbar QSplitter::handle,#locationbar-bookmarkicon,#locationbar-bookmarkicon[bookmarked="true"],#locationbar-goicon,#locationbar-down-icon,#sidebar-splitter::handle,#websearchbar-searchbutton {
background-color:transparent
}

QCheckBox::indicator:unchecked:hover,QCheckBox::indicator:checked {
background-color:palette(highlight);
border-color:#EAEAEA
}

QCheckBox::indicator:unchecked:disabled,QCalendarWidget,QToolButton:disabled,QToolButton::menu-button,QToolButton::menu-arrow:open,QTabWidget::pane,QDockWidget::close-button:hover,QDockWidget::close-button:pressed,QDockWidget::float-button:hover,QDockWidget::float-button:pressed,QSpinBox,QToolBox,QDateEdit {
border-color:palette(light)
}

QCheckBox::indicator:checked:hover,QScrollArea QWidget QWidget:disabled,QTreeView::hover,QListView::hover,QColumnView::hover {
background-color:palette(light)
}

QCheckBox::indicator:checked:disabled,QCheckBox::indicator:indeterminate,QCheckBox::indicator:indeterminate:disabled,QCheckBox::indicator:indeterminate:hover,QCheckBox::indicator:indeterminate:pressed {
background-color:palette(highlight)
}

QRadioButton,QRadioButton:checked,QRadioButton:unchecked {
color:palette(dark)
}

QRadioButton QWidget:disabled {
background-color:palette(light);
color:palette(shadow)
}

QRadioButton::indicator {
background-color:transparent
}

QRadioButton::indicator:unchecked:hover,QRadioButton::indicator:checked {
background-color:palette(highlight);
border-color:#EAEAEA
}

QRadioButton::indicator:unchecked:disabled {
border-color:palette(light)
}

QRadioButton::indicator:checked:hover {
background-color:palette(light)
}

QRadioButton::indicator:checked:disabled,QRadioButton::indicator:indeterminate,QRadioButton::indicator:indeterminate:disabled,QRadioButton::indicator:indeterminate:hover,QRadioButton::indicator:indeterminate:pressed {
background-color:palette(highlight)
}

QLabel,QLCDNumber {
background-color:palette(light);
color:palette(dark)
}

QMenuBar:focus,QPushButton:pressed:hover,QToolButton:checked:hover,QToolButton:pressed:hover,QToolButton:hover,QToolButton::menu-button:hover,QToolButton::menu-button:checked:hover,QComboBox:hover {
border-color:palette(highlight)
}

QMenuBar::item,QSizeGrip,#tab-icon,#sidebar {
background-color:transparent
}

QMenu::separator,QHeaderView::section {
background-color:palette(light);
color:palette(dark)
}

QAbstractScrollArea,QAbstractSpinBox,QTextBrowser,QGraphicsView,QLineEdit,QTreeView,QListView,QColumnView,QToolBox::tab {
background-color:palette(light);
color:palette(dark);
border-color:palette(light)
}

QAbstractScrollArea:disabled,QHeaderView::section::horizontal:disabled,QHeaderView::section::vertical:disabled,QToolBox::tab:disabled {
color:palette(shadow)
}

QScrollBar:vertical,QProgressBar,QTableCornerButton::section,QDateEdit QAbstractItemView {
background-color:palette(light);
border-color:palette(light)
}

QScrollBar::handle:horizontal,QScrollBar::handle:vertical {
background-color:#EAEAEA;
border-color:palette(light)
}

QScrollBar::handle:horizontal:hover,QScrollBar::handle:vertical:hover {
background-color:palette(highlight);
border-color:palette(highlight)
}

QScrollBar::up-arrow:horizontal,QScrollBar::down-arrow:horizontal,QScrollBar::up-arrow:vertical,QScrollBar::down-arrow:vertical,QScrollBar::add-page:horizontal,QScrollBar::sub-page:horizontal,QScrollBar::add-page:vertical,QScrollBar::sub-page:vertical {
background-color:transparent
}

QTextEdit,QPlainTextEdit {
background-color:palette(light);
color:palette(dark);
border-color:palette(light)
}

QTextEdit:hover,QPlainTextEdit:hover,QAbstractSpinBox:hover,QPushButton:checked:hover,QLineEdit:hover {
color:palette(dark);
border-color:palette(highlight)
}

QTextEdit:selected,QPlainTextEdit:selected,QAbstractSpinBox:selected,QPushButton:checked:selected,QPushButton:selected,QLineEdit:selected,QTreeView:selected,QListView:selected,QColumnView:selected,QAbstractView:selected {
background-color:palette(keycolor);
color:palette(light)
}

QToolBar,QDockWidget::title,QDockWidget::close-button,QDockWidget::float-button,QHeaderView,QSplitter::separator {
background-color:palette(light)
}

QTabBar QToolButton {
background-color:palette(highlight)
}

QAbstractSpinBox:up-button,QAbstractSpinBox:down-button {
background-color:transparent palette(light);
border-left:1px solid palette(light)
}

QTextBrowser:disabled,QGraphicsView:disabled,QProgressBar:disabled,QPushButton:checked:disabled {
background-color:palette(light);
color:palette(shadow);
border-color:palette(light)
}

QPushButton:checked,QHeaderView:disabled {
background-color:palette(light);
border-color:palette(light)
}

QPushButton:pressed,QToolButton:checked,QToolButton:pressed {
background-color:palette(light);
border-color:palette(light)
}

QCommandLinkButton:disabled,QWidget:disabled {
background-color:transparent;
color:palette(shadow)
}

QComboBox::indicator:alternate,QComboBox::item:alternate,QComboBox::down-arrow,QSlider:disabled {
background-color:palette(light)
}

QComboBox::drop-down,QHeaderView::section::horizontal::first,QHeaderView::section::horizontal::only-one {
border-left-color:palette(light)
}

QSlider::groove:horizontal,QSlider::groove:vertical {
background-color:palette(light);
border-color:palette(light)
}

QSlider::add-page:vertical,QSlider::sub-page:horizontal {
background-color:palette(keycolor);
border-color:palette(light)
}

QSlider::add-page:vertical:disabled,QSlider::sub-page:horizontal:disabled {
background-color:palette(alternate-base)
}

QSlider::handle:horizontal,QSlider::handle:vertical {
background-color:palette(shadow);
border-color:palette(light)
}

QSlider::handle:horizontal:hover,QSlider::handle:vertical:hover {
background-color:palette(highlight);
border-color:palette(highlight)
}

QTabBar::tab:left,QTabBar::tab:right {
color:palette(dark);
background-color:palette(light)
}

QTreeView::item:pressed,QListView::item:pressed,QColumnView::item:pressed,QTreeView::item:selected:active,QListView::item:selected:active,QColumnView::item:selected:active,QWidget::item:selected {
background-color:palette(keycolor)
}

QHeaderView::down-arrow,QHeaderView::up-arrow {
background-color:palette(light);
border-right-color:palette(light)
}

#mainwindow,WebView {
background-color:palette(light);
color:palette(dark)
}

#locationbar-siteicon,#bookmarksbar QToolButton,#websearchbar-searchprovider-combobox {
border-image:url(images/transp.png)
}

#websearchbar ToolButton:hover,#websearchbar ToolButton {
background-color:palette(keycolor)
}

#tabwidget-button-addtab[outside-tabbar="false"] {
background-color:#EAEAEA;
color:palette(dark);
border-color:#EAEAEA
}

#tabwidget-button-addtab[outside-tabbar="false"]:hover {
background:#EAEAEA
}

/*************************************
 * Non-standard Qt specific selectors
 *************************************/

QTabBar::tab:right:!selected:disabled,QTabBar::tab:left:!selected:disabled,QTabBar::tab:bottom:!selected:disabled,QTabBar::tab:top:!selected:disabled {
color:palette(shadow);
background-color:palette(light)
}

QTabBar::tab:top:!selected,QTabBar::tab:top:!selected:disabled {
border-bottom-color:palette(light)
}

QTabBar::tab:bottom:!selected,QTabBar::tab:bottom:!selected:disabled {
border-top-color:palette(light)
}

QTabBar::tab:right:!selected,QTabBar::tab:left:!selected:disabled {
border-right-color:palette(light)
}

QTabBar::tab:left:!selected,QTabBar::tab:right:!selected:disabled {
border-left-color:palette(light)
}

QTabBar::tab:right:!selected:hover,QTabBar::tab:left:!selected:hover,QTabBar::tab:bottom:!selected:hover,QTabBar::tab:top:!selected:hover {
border-color:palette(highlight)
}

QTreeView::item:!selected:hover,QListView::item:!selected:hover,QColumnView::item:!selected:hover {
color:palette(highlight)
}

QToolBox::tab:!selected,QTreeView::item:!selected:hover,QListView::item:!selected:hover,QColumnView::item:!selected:hover {
background-color:palette(light)
}

QToolBox::tab:!selected {
border-bottom-color:palette(light)
}

QToolBox::tab:!selected:disabled {
background-color:palette(light)
}

#tabbar::tab:!selected {
background-color:palette(light);
border-bottom-color:palette(light)
}

#tabbar::tab:!selected:hover {
text-decoration:none;
border-left-color:transparent;
border-right-color:transparent
}

#tabbar::tab:!selected:hover,#tabbar::tab:!selected {
color:palette(dark);
border:none
}

QTextBrowser:hover,QTextBrowser:!hover,QTextBrowser::selected,QTextBrowser::pressed,QGraphicsView:hover,QGraphicsView:!hover,QGraphicsView::selected,QGraphicsView::pressed {
border-color:palette(light)
}

/*************************************
 * Non-standard Qt specific styles
 *************************************/

QListWidget,QTableView {
	alternate-background-color:white
}

#tabbar {
	qproperty-baseColor: transparent
}

QComboBox:on,QAbstractItemView {
	alternate-background-color: palette(light);
}

QWidget,QDateEdit QAbstractItemView,QDateEdit:on,QDateEdit,QComboBox {
	selection-background-color: palette(keycolor);
}

QWidget {
	selection-color: palette(dark);
}

QWidget:disabled {
	selection-background-color: palette(alternate-base);
	selection-color: palette(shadow);
}

QComboBox QAbstractItemView {
	selection-color: palette(highlight);
	selection-background-color: palette(light);
}

QComboBox::indicator {
	selection-color: transparent;
	selection-background-color: transparent;
}

QTreeView,
QListView,
QColumnView {
	gridline-color: palette(light);
}

QComboBox::down-arrow {
	image: url(images/go-down.svg);
}

#navigation-button-back{
	image: url(images/go-previous.svg);
}

#navigation-button-next {
	image: url(images/go-next.svg);
}

#navigation-button-stop {
	image: url(images/process-stop.svg);
}

#navigation-button-reload {
	image: url(images/view-refresh.svg);
}

#navigation-button-home {
	image: url(images/go-home.svg);
}

#navigation-button-addtab {
	image: url(images/list-add.svg);
}

#navigation-button-tools {
	image: url(images/menu.svg);
}

#navigation-button-exitfullscreen {
	image: url(images/exit-fullscreen.svg);
}

#navigation-button-supermenu {
	image: url(images/sub-menu.svg);
}

#tabbar-button-right {
	image: url(images/tab-right-arrow.svg);
}

#tabbar-button-left {
	image: url(images/tab-left-arrow.svg);
}

#tabwidget-button-opentabs {
	image: url(images/go-down.svg);
}

#tabwidget-button-closedtabs {
	image: url(images/user-trash-full.svg);
}

#tabwidget-button-addtab[outside-tabbar="false"]:hover {
	image: url(images/list-add.svg);
}
#tabwidget-button-addtab[outside-tabbar="true"]:hover {
	image: url(images/list-add.svg);
}

#tabbar::close-button {
	image: url(images/tab-close.svg);
}

#tabbar::close-button:hover {
	image: url(images/tab-close-h.svg);
}

#tabbar::close-button:pressed {
	image: url(images/tab-close-a.svg);
}

IconProvider {
	image: url(images/star-a.svg);
}

#locationbar-bookmarkicon {
	image: url(images/star.svg);
}

#locationbar-bookmarkicon[bookmarked="true"] {
	image: url(images/star-a.svg);
}

#locationbar-goicon {
	image: url(images/goto.svg);
}

#locationbar-down-icon {
	image: url(images/go-down.svg);
}

#locationbar-autofillicon {
	image: url(images/user.svg);
}

#websearchbar-searchbutton {
	image: url(images/search-icon.svg);
}

BrowsingLibrary #tabs {
	qproperty-bgPixmap: url(images/library-bg.png);
}
