/*************************************
 * Common theme styles shared by Noir and Vivid themes
 * https://doc.qt.io/qt-5/stylesheet-reference.html | https://doc.qt.io/qt-5/stylesheet-examples.html
 * 1em = 15px
 *************************************/

QListWidget,QListWidget::item,QTableView,QTableView::item {
border-radius:.37em;
outline-style:none;
border-style:solid;
border-width:.1em;
margin:0;padding:.2em
}

QRadioButton,QCheckBox {
margin-left:.2em;
margin-right:.2em;
padding:.15em
}

QRadioButton::indicator:unchecked,QRadioButton::indicator:unchecked:hover,QRadioButton::indicator:unchecked:pressed,QRadioButton::indicator:checked {
border-radius:.4em;
border-style:solid;
border-width:.1em
}

QRadioButton::indicator:unchecked:disabled {
border-style:solid;
border-width:.1em
}

QToolBox QScrollArea QWidget QWidget,PlotWidget {
padding:0
}

QMenuBar {
border-style:solid;
border-width:.1em;
padding:.15em
}

QMenuBar::item:selected {
border-style:solid;
border-width:0;
padding:.37em
}

QMenuBar::item:pressed {
margin-bottom:0;
border-style:solid;
border-width:0;
padding:.37em .37em 0
}

QMenu::separator {
height:.15em;
padding-left:.37em;
margin-left:.15em;
margin-right:.15em
}

QMenu::icon {
padding-left:.37em;
margin:0
}

QMenu::indicator {
width:1.15em;
height:1.15em;
padding-left:.4em
}

QAbstractItemView QLineEdit {
padding:.15em
}

QAbstractScrollArea {
border-radius:.37em;
border-style:solid;
border-width:.1em;
padding:.37em
}

QScrollBar:horizontal {
height:1.4em;
border-radius:.37em;
border-style:solid;
border-width:.1em;
margin:.15em 1.4em
}

QScrollBar:vertical {
width:1.4em;
border-radius:.37em;
border-style:solid;
border-width:.1em;
margin:1.4em .15em
}

QScrollBar::handle:vertical {
min-height:.53em;
border-radius:.37em;
border-style:solid;
border-width:.1em
}

QScrollBar::handle:vertical:hover {
border-radius:.37em;
min-height:.53em;
border-style:solid;
border-width:.1em
}

QScrollBar::add-line:horizontal {
width:.66em;
height:.66em;
border-style:none;
margin:0
}

QScrollBar::add-line:vertical {
height:.66em;
width:.66em;
border-style:none;
margin:.2em 0
}

QScrollBar::sub-line:horizontal {
height:.66em;
width:.66em;
border-style:none;
margin:0 .2em
}

QScrollBar::sub-line:vertical {
height:.66em;
width:.66em;
border-style:none;
margin:.2em 0
}

QSizeGrip {
width:1.15em;
height:1.15em
}

QAbstractSpinBox {
border-radius:.37em;
border-style:solid;
border-width:.1em;
padding:.15em .37em
}

QLabel {
border-style:none;
margin:0;
padding:.15em
}

QPushButton {
font-weight:bold;
border-radius:.37em;
outline-style:none;
min-width:7.9em;
min-height:2.9em;
max-width:8em;
max-height:2.9em;
word-break:break-word;
overflow:hidden;
text-overflow:ellipsis;
border-style:solid;
border-width:.1em;
margin:0;
padding:.2em
}

QPushButton:disabled {
border-radius:.37em;
border-style:solid;
border-width:.1em;
padding:.2em
}

QPushButton::menu-indicator {
bottom:.37em
}

QToolButton {
border-radius:.37em;
border-style:solid;
border-width:.1em;
margin:0;
padding:.15em
}

QToolButton::menu-button {
border-radius:.37em;
border-top-right-radius:.37em;
border-bottom-right-radius:.37em;
width:1.4em;
outline-style:none;
border-style:solid;
border-width:.1em;
padding:.15em
}

QToolButton::menu-indicator {
top:-.53em;
left:-.37em
}

QCommandLinkButton {
border-radius:.37em;
border-style:solid;
border-width:.1em;
margin:0;
padding:0
}

QComboBox {
border-radius:.3em;
padding:0;
margin:.0;
min-height:1.5em;
min-width:3em;
border-style:none;
border-width:.1em
}

QComboBox:hover {
border-radius:.3em;
padding:0;
margin:.0;
min-height:1.5em;
min-width:3em;
border-style:none;
border-width:.1em
}

QComboBox QAbstractItemView {
border-radius:.3em;
padding-left:0;
margin-left:0;
border-style:none;
border-width:.1em
}

QComboBox::item:selected, QComboBox::item:checked {
font-weight:bold
}

QComboBox::indicator:alternate,QComboBox::item:alternate,QComboBox::down-arrow,QSlider:disabled {
border-style:solid;
border-width:.15em;
border-radius:.3em
}

QComboBox::drop-down {
min-width:3em;
border-style:solid;
border-width:.1em
}

QSlider::handle:horizontal {
width:.53em;
height:.53em;
border-radius:.37em;
border-style:solid;
border-width:.1em;
margin:-.53em 0
}

QSlider::handle:vertical {
width:.53em;
height:.53em;
border-radius:.37em;
border-style:solid;
border-width:.1em;
margin:0 -.53em
}

QLineEdit {
border-radius:.37em;
border-style:solid;
border-width:.1em;
padding:.15em .37em
}

QTabWidget::pane {
border-radius:.37em;
border-style:solid;
border-width:.1em;
margin:0;
padding:0
}

QTabBar::close-button {
border-style:none;
padding:0
}

QTabBar::tab:top:selected:disabled {
border-bottom-style:solid;
border-bottom-width:.2em
}

QTabBar::tab:bottom:selected:disabled {
border-top-style:solid;
border-top-width:.2em
}

QTabBar::tab:left:selected:disabled {
border-left-style:solid;
border-left-width:.2em
}

QTabBar::tab:right:selected:disabled {
border-right-style:solid;
border-right-width:.2em
}

QTabBar::tab:top {
margin-left:.15em;
min-width:.33em;
border-bottom-style:solid;
border-bottom-width:.2em;
border-top-left-radius:.2em;
border-top-right-radius:.2em;
padding:.15em .37em
}

QTabBar::tab:top:selected {
border-bottom-style:solid;
border-bottom-width:.2em;
border-top-left-radius:.2em;
border-top-right-radius:.2em
}

QTabBar::tab:bottom {
border-top-style:solid;
border-top-width:.2em;
margin-left:.15em;
border-bottom-left-radius:.2em;
border-bottom-right-radius:.2em;
min-width:.33em;
padding:.15em .37em
}

QTabBar::tab:bottom:selected {
border-top-style:solid;
border-top-width:.2em;
border-bottom-left-radius:.2em;
border-bottom-right-radius:.2em
}

QTabBar::tab:left {
margin-top:.15em;
border-top-right-radius:.2em;
border-bottom-right-radius:.2em;
min-height:.33em;
padding:.37em .15em
}

QTabBar::tab:left:selected {
border-left-style:solid;
border-left-width:.2em;
border-top-right-radius:.2em;
border-bottom-right-radius:.2em
}

QTabBar::tab:right {
margin-top:.15em;
border-top-left-radius:.2em;
border-bottom-left-radius:.2em;
min-height:.33em;
padding:.37em .15em
}

QTabBar::tab:right:selected {
border-right-style:solid;
border-right-width:.2em;
border-top-left-radius:.2em;
border-bottom-left-radius:.2em
}

QTabBar QToolButton {
width:1.4em;
height:1.4em
}

QDockWidget {
border-radius:.37em;
outline-style:solid;
outline-width:.1em;
border-style:solid;
border-width:.1em
}

QDockWidget::title {
padding:.4em
}

QTableCornerButton::section {
border-radius:0;
border-style:solid;
border-width:.1em
}

QHeaderView:disabled {
border-style:solid;
border-width:.1em;
padding:.15em
}

QHeaderView::section {
border-radius:0;
text-align:left;
padding:.15em
}

QSpinBox {
min-width:4.53em;
min-height:2.15em;
max-height:2.15em;
border-style:solid;
border-width:.1em
}

QToolBox {
border-style:solid;
border-width:.1em;
padding:0
}

QToolBox::selected {
border-style:solid;
border-width:.15em;
padding:0
}

QToolBox::tab {
border-top-left-radius:.37em;
border-top-right-radius:.37em;
border-style:solid;
border-width:.1em
}

QSplitter::separator:horizontal {
width:.33em
}

QSplitter::separator:vertical {
height:.33em
}

QDateEdit {
border-radius:.37em;
min-width:.66em;
border-style:solid;
border-width:.1em;
padding:.15em .37em
}

QDateEdit::drop-down {
width:1.3em;
border-top-right-radius:.2em;
border-bottom-right-radius:.2em
}

[html-link-look="true"] {
text-decoration:underline
}

#navigationbar {
min-height:2.6em;
max-height:2.6em;
padding-bottom:2.3em;
border-style:none
}

#navigationbar QSplitter {
min-width:.3em;
max-width:.3em
}

#navigation-toolbutton-badge {
margin:0 .1em
}

#navigation-button-tools,#navigation-button-supermenu,#navigationbar ToolButton,#navigationbar ToolButton[button-id="adblock-icon"] {
border-style:none;
margin-left:0;
margin-right:.3em;
padding:0
}

#navigationbar ToolButton:hover {
border-style:none;
margin-left:0;
margin-right:.3em;
padding:0
}

#tabwidget-button-addtab {
max-width:1.7em;
max-height:1.7em;
min-width:1.7em;
min-height:1.7em;
margin-bottom:.7em;
margin-left:.1em;
margin-right:.1em;
margin-top:0;
padding:.1em
}

#tab-icon {
max-width:1em;
max-height:1em;
min-width:1em;
min-height:1em
}

#combotabbar_tabs_close_button {
max-width:.7em;
max-height:.7em;
min-width:.7em;
min-height:.7em;
padding-right:.46em;
margin-right:.3em
}

#tabbar::tab {
height:2em;
text-align:justify;
text-overflow:ellipsis;
white-space: pre;
border-top-style:none;
padding-bottom:1em;
padding-top:.9em;
border-bottom-right-radius:1.15em;
border-bottom-left-radius:1.15em;
margin-bottom:.66em;
margin-top:-.3em
}

#tabbar::tab:selected {
border-left-style:solid;
border-left-width:.2em;
border-right-style:solid;
border-right-width:.2em;
border-bottom-style:solid;
border-bottom-width:.2em;
font-weight:bold
}

#locationbar {
min-height:1.1em;
max-height:1.1em;
border-radius:.7em;
margin-top:.1em;
margin-bottom:.1em;
margin-left:0;
margin-right:.15em;
border-style:solid;
border-width:.1em;
padding:.37em
}

#locationbar ToolButton {
border-top-left-radius:.7em;
border-top-right-radius:0;
border-bottom-right-radius:0;
border-bottom-left-radius:.7em;
border-left-width:.5em;
border-right-width:.3em;
border-top-width:.1em;
border-bottom-width:.1em;
border-style:solid none solid solid;
min-height:1.5em;
max-height:1.5em;
min-width:1.5em;
max-width:1.5em
}

#locationbar ToolButton:hover {
border-top-left-radius:.7em;
border-top-right-radius:0;
border-bottom-right-radius:0;
border-bottom-left-radius:.7em;
border-left-width:.5em;
border-right-width:.3em;
border-top-width:.1em;
border-bottom-width:.1em;
border-style:solid none solid solid;
min-height:1.5em;
max-height:1.5em;
min-width:1.5em;
max-width:1.5em
}

#locationbar-siteicon {
min-height:2em;
max-height:2em;
min-width:2em;
max-width:2em;
padding:0;
margin:.0
}

#locationbar-down-icon {
margin-right:.66em
}

#locationbar-goicon, #locationbar-down-icon {
min-height:1em;
max-height:1em;
min-width:1em;
max-width:1em
}

#locationbar-bookmarkicon {
min-height:1.1em;
max-height:1.1em;
min-width:1.1em;
max-width:1.1em
}

#bookmarksbar QToolButton {
height:1.33em;
border-width:0
}

#websearchbar {
border-radius:.7em;
max-width:31.3em;
max-height:1.1em;
min-height:1.1em;
border-style:solid;
border-width:.1em;
margin-top:.1em;
margin-right:.1em;
margin-bottom:0;
padding-left:.37em;
padding-right:.37em;
padding-top:.37em;
padding-bottom:.37em
}

#websearchbar QToolButton {
margin-left:.5em;
margin-top:.2em
}

#websearchbar QToolButton:hover {
margin-left:.5em;
margin-top:.2em
}

#websearchbar-searchbutton {
margin-right:.66em;
min-height:1em;
max-height:1em;
min-width:1em;
max-width:1em
}

DesktopNotification #frame {
border-style:solid;
border-width:.1em;
padding:.66em
}

DesktopNotification #heading {
font-weight:bold
}

QFrame[js-frame="true"] {
border-style:solid solid none;
border-width:.1em
}

QFrame[js-frame2="true"] {
border-bottom-width:.1em;
border-left-width:.1em;
border-right-width:.1em;
border-style:none solid solid
}

QWidget {
font-family:Candara, Corbel, Calibri, Sans-serif;
border-radius:.2em;
margin:0;
padding:0
}

QMainWindow::separator:horizontal {
width:.33em;
margin-top:.15em;
margin-bottom:.15em
}

QMainWindow::separator:vertical {
height:.33em;
margin-left:.15em;
margin-right:.15em
}

QCheckBox::indicator:unchecked,QCheckBox::indicator:unchecked:hover,QCheckBox::indicator:unchecked:pressed,QCheckBox::indicator:checked {
border-radius:.4em;
border-style:solid;
border-width:.15em
}

QCheckBox::indicator:unchecked:disabled,QMenuBar:focus,QTextEdit,QTextEdit:hover,QPlainTextEdit:hover,QAbstractSpinBox:hover,QPushButton:checked:hover,QPushButton:pressed,QPushButton:pressed:hover,QPushButton:hover,QToolButton:checked,QToolButton:checked:hover,QToolButton:pressed,QToolButton:pressed:hover,QToolButton:disabled,QToolButton:hover,QToolButton::menu-button:hover,QToolButton::menu-button:checked:hover,QToolButton::menu-arrow:open,QSlider::handle:horizontal:hover,QSlider::handle:vertical:hover,QLineEdit:hover,QTabWidget::pane:selected,QDockWidget::close-button:hover,QDockWidget::close-button:pressed,QDockWidget::float-button:hover,QDockWidget::float-button:pressed {
border-style:solid;
border-width:.1em
}

QMenuBar:focus,QPushButton:pressed:hover,QToolButton:checked:hover,QToolButton:pressed:hover,QToolButton:hover,QToolButton::menu-button:hover,QToolButton::menu-button:checked:hover {
border-style:solid;
border-width:.1em
}

QMenuBar::item,QMenu {
padding:.37em
}

QStackedWidget {
padding:0
}

QAbstractItemView,QTextBrowser,QTextBrowser:disabled,QGraphicsView,QGraphicsView:disabled,QCalendarWidget,QTreeView,QListView,QColumnView {
border-radius:.37em;
border-style:solid;
border-width:.1em
}

QScrollBar::handle:horizontal,QScrollBar::handle:horizontal:hover {
border-radius:.37em;
min-width:.53em;
border-style:solid;
border-width:.1em
}

QScrollBar::add-line:horizontal:hover,QScrollBar::add-line:horizontal:on,QScrollBar::add-line:vertical:hover,QScrollBar::add-line:vertical:on,QScrollBar::sub-line:horizontal:hover,QScrollBar::sub-line:horizontal:on,QScrollBar::sub-line:vertical:hover,QScrollBar::sub-line:vertical:on {
height:.66em;
width:.66em
}

QPlainTextEdit,QDateEdit QAbstractItemView {
border-radius:.37em;
border-style:solid;
border-width:.1em
}

QToolButton#qt_toolbar_ext_button,QLabel::disabled,QTabWidget QWidget,QFrame,QFrame[frameShape="0"],QSplitter::separator,#websearchbar ToolButton:hover,#websearchbar ToolButton {
border-style:none
}

QAbstractSpinBox:up-button,QAbstractSpinBox:down-button {
margin:.1em
}

QAbstractSpinBox::up-arrow,QAbstractSpinBox::up-arrow:disabled,QAbstractSpinBox::up-arrow:off,QAbstractSpinBox::down-arrow,QAbstractSpinBox::down-arrow:disabled,QAbstractSpinBox::down-arrow:off {
width:.6em;
height:.6em
}

QProgressBar,QProgressBar:disabled {
border-radius:.37em;
text-align:center;
border-style:solid;
border-width:.1em
}

QProgressBar::chunk,QProgressBar::chunk:disabled,QDockWidget::close-button,QDockWidget::float-button {
border-radius:.37em
}

QPushButton:checked,QPushButton:checked:disabled {
border-radius:.37em;
outline-style:none;
border-style:solid;
border-width:.1em;
padding:.2em
}

QSlider::groove:horizontal,QSlider::sub-page:horizontal {
height:.37em;
border-radius:.37em;
border-style:solid;
border-width:.1em;
margin:0
}

QSlider::groove:vertical,QSlider::add-page:vertical {
width:.37em;
border-radius:.37em;
border-style:solid;
border-width:.1em;
margin:0
}

QHeaderView,#tabbar {
border-radius:0;
border-style:none;
margin:0;
padding:0
}

QHeaderView::section::horizontal,QHeaderView::section::horizontal::first,QHeaderView::section::horizontal::only-one {
border-left-style:solid;
border-left-width:.1em
}

QHeaderView::section::vertical,QHeaderView::section::vertical::first,QHeaderView::section::vertical::only-one {
border-top-style:solid;
border-top-width:.1em
}

QHeaderView::down-arrow,QHeaderView::up-arrow {
width:1.4em;
height:1.4em;
border-right-style:solid;
border-right-width:.1em
}

QSpinBox::up-arrow,QSpinBox::down-arrow {
background-repeat:no-repeat;
background-position:center
}

QToolBox::tab:selected,QToolBox::tab:selected:disabled,QToolBox::tab:hover {
border-bottom-style:solid;
border-bottom-width:.15em
}

#tabbar::tab:selected:first,#tabbar::tab:selected:only-one {
margin-left:0
}

/*************************************
 * Non-standard Qt specific selectors - https://doc.qt.io/qt-5/stylesheet-reference.html#list-of-properties
 *************************************/

QTabBar::tab:top:!selected:disabled {
border-bottom-style:solid;
border-bottom-width:.2em
}

QTabBar::tab:bottom:!selected:disabled {
border-top-style:solid;
border-top-width:.2em
}

QTabBar::tab:left:!selected:disabled {
border-right-style:solid;
border-right-width:.2em
}

QTabBar::tab:right:!selected:disabled {
border-left-style:solid;
border-left-width:.2em
}

QTabBar::tab:top:!selected {
border-bottom-style:solid;
border-bottom-width:.15em;
margin-top:.15em
}

QTabBar::tab:bottom:!selected {
border-top-style:solid;
border-top-width:.15em;
margin-bottom:.2em
}

QTabBar::tab:left:!selected {
border-left-style:solid;
border-left-width:.15em;
margin-right:.15em
}

QTabBar::tab:right:!selected {
border-right-style:solid;
border-right-width:.15em;
margin-left:.15em
}

QTabBar::tab:top:!selected:hover {
border-style:solid;
border-width:.1em .1em .2em;
padding:0
}

QTabBar::tab:bottom:!selected:hover {
border-style:solid;
border-width:.2em .1em .1em;
padding:0
}

QTabBar::tab:left:!selected:hover {
border-style:solid;
border-width:.1em .1em .1em .2em;
padding:0
}

QTabBar::tab:right:!selected:hover {
border-style:solid;
border-width:.1em .2em .1em .1em;
padding:0
}

QTreeView::item:!selected:hover,QListView::item:!selected:hover,QColumnView::item:!selected:hover {
outline-style:none
}

QToolBox::tab:!selected {
border-bottom-style:solid;
border-bottom-width:.15em
}

#tabbar::tab:!selected {
border-bottom-width:.1em;
border-left-width:.1em;
border-right-width:.1em;
border-bottom-right-radius:1.15em;
border-bottom-left-radius:1.15em;
border-style:none solid solid
}

#tabbar::tab:!selected:hover {
border-left-width:.2em;
border-right-width:.2em;
border-bottom-width:.2em;
text-decoration:underline;
background-repeat:no-repeat;
background-position:top center;
margin-top:0;
padding-top:.6em;
border-style:none solid solid
}

QTextBrowser:hover,QTextBrowser:!hover,QTextBrowser::selected,QTextBrowser::pressed,QGraphicsView:hover,QGraphicsView:!hover,QGraphicsView::selected,QGraphicsView::pressed {
border-style:solid;
border-width:.1em
}

#tabbar::tab:selected:!first,#tabbar::tab:!selected:!first,#tabbar::tab:!selected:!first:hover {
margin-left:-.1em
}

#tabbar::tab:!selected:first,#tabbar::tab:!selected:only-one,#tabbar::tab:!selected:hover:only-one {
margin-left:0
}
